.TodoListApp {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-top: 30px;
}
h1{
   text-align: center;
 }
.TodoControl {
    justify-content: space-between;
}
.Todos {
  background-color: white;
  margin-top: 20px;
  padding: 10px 40px 10px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgb(128, 128, 128);
}
.TodoList{
  list-style: none;
}
.TodoButton{
  width: 85px;
  height: 40px;
  font-size: 1.3em;
  outline: 0;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #6da8ac;
}
.NewTodoEdit{
  border-radius: 10px;
  width: 300px;
  height: 30px;
  padding: 2px;
  font-size: 1.3em;
}