.todoListItem {
  text-align: left;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 1.3rem;
}
.done {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #c0c0c0;
}
.checkbox {
  position: relative;
  margin-right: 1rem;
  padding-top: 10px;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}